<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @event.type %>.<%= @event.subtype %>
</p>

<p>
  <strong>Payload:</strong>
  <pre><code class="json"><%= @event.prettyPayload %></code></pre>
</p>

<p>
  <strong>Timestamp:</strong>
  <%= @event.timestamp %>
</p>

<p>
  <strong>Uuid:</strong>
  <%= @event.uuid %>
</p>

<p>
  <strong>User:</strong>
  <%= @event.user %>
</p>

<p>
  <strong>App:</strong>
  <%= @event.app %>
</p>

<% if @event.attachment? %>
  <p>
    <strong>Attachment:</strong>
    <%= link_to @event.attachment.file.filename, @event.attachment.url %>
  </p>
<% end %>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
