<p id="notice"><%= notice %></p>

<h1>Apps</h1>
<% @apps.each do |bundle| %>
  <a href="<%= "/apps/#{bundle}/users" %>">
    <ul style="list-style-type: none;">
      <li style="display: block;width: 100px;float: left;margin: 10px;width: 100px;text-align: center;">
        <span>
          <% src = asset_path "empty.png" %>
          <% if !@icons[bundle].blank?
            src = EVENTS_BASE_URL + "/uploads/event/attachment/" + @icons[bundle]
           end %>
          <img class="icon" src="<%= src %>" />
        </span>
        <span>
          <% if !@names[bundle].blank? %>
            <%= @names[bundle] %>
          <% else %>
            <%= bundle %>
          <% end %>
        </span>
      </li>
    </ul>
  </a>
<% end %>
